<div class="page">
         <nav class="navbar navbar-inverse navbar-fixed-top">
             <div class="container-fluid">
                 <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                    
                 </div>
                 <div class="collapse navbar-collapse" id="myNavbar">
                     <ul class="nav navbar-nav">
                         <!--<li class="active"><a href="{{ path('home_page_route') }}">Home</a></li>-->
                         
                         {% for page in listPages %}
                            <li><a href="{{ path('viewer_page_route', {'id': page.id}) }}">{{ page.name }}</a></li>
                         {% endfor %}
                         
                         <li><a href="{{ path('view_posts_route') }}">Blog</a></li>
                         <li><a href="#">Nous contater</a></li>
                     </ul>
                     <ul class="nav navbar-nav navbar-right">
                         <li><a href="{{ 'register' }}"><span class="glyphicon glyphicon-user"></span>Espace client</a></li>
                         <li><a href="{{ 'login' }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                     </ul>
                 </div>
                     
             </div>
         </nav>
     </div>