{% extends '::base.html.twig' %}

 {% block body %}
     {{ include("OCWebAgencyBundle:inc:header.html.twig") }}
         <div class="back" id="section1">
         {% for item in listItems %}
             <h3>{{ item.title }}</h3>
             <div class="btn-header">{{ item.content }}</div>
             <div class="btn-header">{{ item.date|date('d/m/Y') }}</div>
             <div class="btn-header">{{ item.content }}</div>
             <div class="btn-header">{{ item.author }}</div>
             <div style="float: left; margin-right: 1em;">
            {# On vérifie qu'une image soit bien associée à l'article #}
            {% if item.image is not null %}
            <img
            src="{{ asset(item.image.webPath) }}"
            alt="{{ item.image.alt }}"
            height="200"
            />
    {% endif %}
  </div>
         {% endfor %}
         </div>
         
 {% endblock %}